---
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

{{ .Description | trimspace }}

The Terraform provider plugin "stdlib" provides additional functions for Terraform available as data sources and custom functions. These data sources and custom functions enable functionality either not intrinsically available to Terraform, or instead streamlined within a single invocation. However, data sources are not as robustly invoked with inputs or returns compared to true functions. Without the true support for custom functions in Terraform >= 1.8 then this becomes the next best available option. If you are using Terraform >= 1.8 then it is advised to use the custom functions instead of the data sources, but otherwise you will need to declare the data sources.

Use the navigation to the left to read about the available custom functions, and the alternative data sources which are each equivalent to Terraform functions.

{{ if .HasExample -}}
## Example Usage

{{ tffile "examples/provider/provider.tf" }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

## Custom Functions
The documentation overview for custom functions (available for Terraform version >= 1.8). The following is an enumeration of the supported custom functions. These are categorized by their primary input types.

### String
- count
- cut
- last_char

### Number
- combinations
- exp
- factorial
- mod
- round
- sqrt

### Map
- coalesce_map
- compact_map
- equal_map
- flatten_map
- has_key
- has_keys
- has_value
- has_values
- key_delete
- keys_delete

### List/Set
- compare_list
- elements_delete
- insert
- last_element
- list_index
- max_number
- max_string
- min_number
- min_string
- product
- replace
- sort_list_string
- sort_list_number

### Generic
- empty
- repeat

## Data Sources as Functions
The documentation overview for data sources as functions (necessary for Terraform version < 1.8). The following is an enumeration of the supported data sources as functions. These are categorized by their primary input types.

### String
- cut
- last_char

### Number
- exp
- mod
- round
- sqrt

### Map
- equal_map
- flatten_map
- has_key
- has_keys
- has_value
- has_values
- key_delete
- keys_delete

### List/Set
- compare_list
- insert
- last_element
- list_index
- max_number
- max_string
- min_number
- min_string
- product
- replace
- sort_list

### Generic
- empty